
<!DOCTYPE html>
<html>
<head>
	<title>Connect App</title>
	<style>
		.nav-tabs .nav-link {
			padding: .5rem 1rem;
		}
	</style>
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Connect App</a>
	</nav>

	<div class="container mt-4">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<h1>Arista_connect_App</h1>
				<button id="add-tab-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDeviceModal">+</button>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="addDeviceModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Device</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form id="add-device-form" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="ip_address">IP Address:</label>
							<input type="text" class="form-control" id="ip_address" name="ip_address" required>
						</div>
						<div class="form-group">
							<label for="username">Username:</label>
							<input type="text" class="form-control" id="username" name="username" required>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" id="password" name="password" required>
						</div>
						<button type="submit" class="btn btn-primary">Add Device</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% block content %}
{% if message %}
	<script>
		alert("{{ message }}");
	</script>
{% endif %}
{% endblock %}
</body>
	<script>
	  $("#login-form").submit(function(e) {
		e.preventDefault();

		// Get the values from the form
		var ip_address = '10.36.81.61';
		var username = 'admin';
		var password = 'admin';

		// Validate the login info
		if (ip_address !== "" && username !== "" && password !== "") {
		  // Send an AJAX request to the login view
		  $.ajax({
			url: "/login/",
			type: "POST",
			data: {
			  ip_address: $("#ip_address").val(),
			  username: $("#username").val(),
			  password: $("#password").val(),
			  csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
			},
			success: function(data) {
			  if (data.result === "success") {
				alert(data.message);

				// Create the new tab and add it to the tabs list
				var new_tab_title = $("#ip_address").val();
				var new_tab = '<li class="nav-item"><a class="nav-link" id="' + new_tab_title + '-tab" data-toggle="tab" href="#' + new_tab_title + '" role="tab" aria-controls="' + new_tab_title + '" aria-selected="false">' + new_tab_title + '</a><span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>';
				$('#myTab').append(new_tab);

				// Add the content for the new tab
				var new_tab_content = '<div class="tab-pane fade" id="' + new_tab_title + '" role="tabpanel" aria-labelledby="' + new_tab_title + '-tab"><p>Content for tab ' + new_tab_title + '</p></div>';
				$('#myTabContent').append(new_tab_content);

				// Close the modal and reset the form
				$("#addDeviceModal").modal("hide");
				$("#add-device-form")[0].reset();

				// Redirect to arista_data with new device query parameter
				window.location.href = '/arista_data/?new_device=' + new_tab_title;
			  } else {
				alert(data.message);
			  }
			},
			error: function(xhr, status, error) {
			  alert("An error occurred while trying to connect to the device.");
			}
		  });
		} else {
		  alert("Please provide all the login information.");
		}
	  });

			$(document).ready(function() {
			  $('#myTab a').on('click', function(e) {
				e.preventDefault();
				$(this).tab('show');
			  });

			  $("#add-tab-btn").click(function() {
				$("#addDeviceModal").modal();
			  });

			  var tabs = $("#myTab").tabs({
				activate: function(event, ui) {
				  if (ui.newTab.is("#add-tab")) {
					$("#addDeviceModal").modal();
					tabs.tabs('select', -2);
				  }
				}
			  });

			  // Close icon: removing the tab on click
			  tabs.delegate("span.ui-icon-close", "click", function() {
				var panelId = $(this).closest("li").remove().attr("aria-controls");
				$("#" + panelId).remove();
				tabs.tabs("refresh");
			  });

			  // Event listener for showing the new tab
			  $('#myTab').on('shown.bs.tab', 'a[data-toggle="tab"]:last', function (e) {
				var tab_id = $(e.target).attr('href').substring(1);
				var url = '/get_config/' + tab_id + '/';
				$.ajax({
				  url: url,
				  type: 'GET',
				  success: function(data) {
					$('#' + tab_id).html(data);
				  },
				  error: function(xhr, status, error) {
					alert('An error occurred while loading the configuration: ' + error);
				  }
				});
			  });

			  // Submit the form to add a new device
			  $("#login-form").submit(function(e) {
				e.preventDefault();

				// Get the values from the form
				var ip_address = $("#ip_address").val();
				var username = $("#username").val();
				var password = $("#password").val();

				// Validate the login info
				if (ip_address !== "" && username !== "" && password !== "") {
				  // Send an AJAX request to the login view
				  $.ajax({
					url: "/login/",
					type: "POST",
					data: {
					  ip_address: $("#ip_address").val(),
					  username: $("#username").val(),
					  password: $("#password").val(),
					  csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
					},
					success: function(data) {
					  if (data.result === "success") {
						alert(data.message);

						// Create the new tab and add it to the tabs list
						var new_tab_title = $("#ip_address").val();
						var new_tab = '<li class="nav-item"><a class="nav-link" id="' + new_tab_title + '-tab" data-toggle="tab" href="#' + new_tab_title + '" role="tab" aria-controls="' + new_tab_title + '" aria-selected="false">' + new_tab_title + '</a><span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>';
						$('#myTab').append(new_tab);

						// Add the content for the new tab
						var new_tab_content = '<div class="tab-pane fade" id="' + new_tab_title + '" role="tabpanel" aria-labelledby="' + new_tab_title + '-tab"><p>Content for tab ' + new_tab_title + '</p></div>';
						$('#myTabContent').append(new_tab_content);

						// Close the modal and reset the form
						$("#addDeviceModal").modal("hide");
						$("#add-device-form")[0].reset();

						// Redirect to arista_data with new device query parameter
						window.location.href = '/arista_data/?new_device=' + new_tab_title;
					  } else {alert(data.message);
					}
					},
					error: function(xhr, status, error) {
					alert("An error occurred while trying to connect to the device.");
					}
					});
					} else {
					alert("Please provide all the login information.");
					}
					});
			   
					  $(document).ready(function() {
						$('#myTab a').on('click', function(e) {
						  e.preventDefault();
						  $(this).tab('show');
						});

						$("#add-tab-btn").click(function() {
						  $("#addDeviceModal").modal();
						});

						var tabs = $("#myTab").tabs({
						  activate: function(event, ui) {
							if (ui.newTab.is("#add-tab")) {
							  $("#addDeviceModal").modal();
							  tabs.tabs('select', -2);
							}
						  }
						});

						// Close icon: removing the tab on click
						tabs.delegate("span.ui-icon-close", "click", function() {
						  var panelId = $(this).closest("li").remove().attr("aria-controls");
						  $("#" + panelId).remove();
						  tabs.tabs("refresh");
						});

						// Event listener for showing the new tab
						$('#myTab').on('shown.bs.tab', 'a[data-toggle="tab"]:last', function (e) {
						  var tab_id = $(e.target).attr('href').substring(1);
						  var url = '/get_config/' + tab_id + '/';
						  $.ajax({
							url: url,
							type: 'GET',
							success: function(data) {
							  $('#' + tab_id).html(data);
							},
							error: function(xhr, status, error) {
							  alert('An error occurred while loading the configuration: ' + error);
							}
						  });
						});
					  });

	</script>
</html>